# Version control
GitPython==3.1.43

# Jira integration
jira==3.8.0

# HTTP client (used by jira)
urllib3==1.26.15

# Environment variable management
python-dotenv==1.0.1

# Natural language processing
nltk==3.8.2

# YAML parsing
pyYAML==6.0.2

# progress bar
tqdm==4.65.0

# Hyperparameter optimization
optuna==2.10.0

